*{
    margin: 0;
    padding: 0;
    font-family:'popins','sans-serif';
    box-sizing: border-box;
    
}
html{
    scroll-behavior: smooth;
    scroll-timeline: 1s;
}

body{
    color: #080808;
    background:white;
    
}
    #header{
    width: 100%;
    height: 100vh;
    /* background-image: url(images/background.png); */
    /* background-size:auto; */
    
    background: white;
    background-position: center;
    
   
    
}
.header-text p{
    color: #080808;
}

.container{
    padding: 10px 10%;
}
/* .sticky {
    position:fixed;
    top: 0;
    width: 80%;
    background: rgb(255, 255, 255);
   
  } */


  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  /* .sticky+.container{
    padding-top: 60px;
  } */
  
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;   
    position: sticky;
}


nav ul li{
   
transition: transform 0.2s;
}

nav ul li:hover{
transform: scale(1.2);

}

 #no{
    background-image: none;
    mix-blend-mode: multiply;
} 
.logo{
    width: 140px;
    mix-blend-mode: multiply;
    
}
nav ul li {
    display: inline;
    list-style: none;
    margin: 10px 20px;
    padding: 10px;
    box-shadow: #f4976c 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: 0.5s;
    border-radius: 2px;
}
nav ul li:hover {
    background: #F97B22;
    transform: scale(1.2);
}


nav ul li a{
    color:#080808;
    text-decoration: none;
    font-size: 18px;
    position: relative;
   
}

/* nav ul li a::after{
    content: " ";
    width:  0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s ;
}*/

nav ul li a:hover::after{
    
}
.effect{
    justify-content: center;
    text-align: justify;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 5.5s
    steps(40,end);
} 
@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
} 

    
.header-text{
    margin-top: 23%;
    margin-left: 6%;
    font-size: 35px;
  

}
.header-text h1{
    font-size: 70px;
    margin-top: 20px;
}
.header-text .sq{
    color:#ff004f;
}

/* 
----------------about----------- */

#about{
    padding: 80px 0;
    color:#080808;
    overflow: hidden;
    margin-bottom: 15px;
    scroll-snap-align: start
    
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    

}

.about-col-1{
    flex-basis: 35%; 
    height: 500px;
}

.about-col-1 img{
    width: 100%;
    min-height: 400px;
    height: 100%;
    border-radius: 15px;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
    box-shadow: rgba(0, 0, 0, 0.8) 0px 2px 10px, rgba(0, 0, 0, 0.4) 0px 7px 13px -3px, rgba(0, 0, 0, 0.3) 0px -3px 0px inset;
    object-fit:cover;
  
}
.about-col-2{
    flex-basis: 60%;  
    
}
p{
    color: #080808;
}
/* @font-face {
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
  }
  @font-palette-values --Grays {
    font-family: Rocher;
    base-palette: 9;
  }
  
  @font-palette-values --Purples {
    font-family: Rocher;
    base-palette: 6;
  }
  
  @font-palette-values --Mint {
    font-family: Rocher;
    base-palette: 7;
  }
  
  .grays {
    font-palette: --Grays;
  }
  
  .purples {
    font-palette: --Purples;
  }
  
  .mint {
    font-palette: --Mint;
  } */

 



.subtitle{
    font-size: 40px;
    font-weight: 600;
    font-family: 'Rocher';
    text-decoration: double;
    text-shadow: #262626;
    color:#F97B22;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: #080808;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #f4976c;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    background: #f4976c;
    width: 100%;
}

.tab-content ul li{
    list-style: none;
    margin: 10px 0;
    color: #080808;
}
.tab-content ul li span {
    color: black;
    font-size: 16px;
}
.tab-content{
    display: none;
}
.tab-content.active-tab{
    display: block;
}


/* -------------------------------------Services------------------------ */
#services{
    padding: 30px 0;
    margin-bottom: 15px;
   
    
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 40px;
    margin-top:  50px;
    margin-bottom: 5px; 
}
.services-list p{
    color: black;
    font-size: large;
}

.services-list div{
    /* background: #262626; */
    
    color: #080808;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */

    border-radius: 50px;
    
    /* background: #e0e0e0; */
    border-color:  #f4976c;
    box-shadow:  20px 20px 60px #bebebe,
                 -20px -20px 60px #ffffff;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list  div h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 15px;
    color: black;
}
.services-list  div a{
    text-decoration:none;
    color: black;
    font-size: 12px;
    padding: 2px;
    margin-bottom: 1px; 
    display: inline-block;
    border: 2px;
    border-style: solid;
    border-radius: 20px;
}
.services-list div a:hover{
    color:white;
}

.services-list div:hover{
    background: #f79e02;
                
    transform: translateY(-10px);
}


/* ----------------Portfolio----------- */
#portfolio{
    padding: 50px 0;
    margin-top: 55px;
    margin-bottom: 175px;
    scroll-snap-align: start;
}
.work-list{

    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top:  50px;
    
 
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   

    
}


.work img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    transition: transform(5.9s);
   
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#b87502);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3,p{
    font-weight: 500;
    margin-bottom: 20px;
    color: white;
}

.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;   
}
.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #f79e02;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    box-shadow: #f4976c 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    transition: background 0.5s;
}
.btn:hover{

 background: #F97B22;
 transform: scale(1.2);
}
 
}
/* --------------------ContactLeft----------------------- */

#contact{
    scroll-snap-align: start
}
.contact-left{

    flex-basis: 35%;
    margin-bottom: 20px;

}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
    color:#080808;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
font-size: 30px;
text-decoration: none;
margin-right: 15px;
color: #ababab;
display: inline-block;
transition: transform  0.5s;
}

.social-icons a:hover{
    border-color: #f79e02;
    transform: scale(1.1);
    /* transform: translateY(-3px); */
}

.btn.btn2{
    display: inline-block;
    color: black;
    background: transparent;
    transition: transform 0.5s;
   
}
.btn.btn2:hover{
   
    background: #F97B22;
    transform: scale(1.1);
}



/* --------------------ContactRight----------------- */

.contact-right{
    margin-bottom: 20px;
    width: 100%;
    padding: 18px;
    border-radius: 10px;
   /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */

   /* box-shadow: rgb(44, 62, 80) 0px 0px 15px 0px inset; */
   background-color: #f7e9d1;
   box-shadow: rgb(255, 255, 255) 3px 3px 6px 0px inset, rgba(246, 244, 244, 0.5) -3px -3px 6px 1px inset;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline:none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 5px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 10px;
}
.copyright i{
    color: #ff004f;
}


/* ------------------------------ CSS Small Screen----------------------- */

nav .fas{
    display: none;}
@media only screen and (max-width:600px){
    #header{
       
    }
      .header-text h1 img{
        margin-top: 10%;
        display: block;
    }   
     
     .sp{
        display: block;
        margin-top: 10%;
    }
    .header-text.br{
        margin-top: 100%;
        margin-left: 1%;
        margin-right: 5%;
        font-size: 20px;
      
    }


    .header-text h1{
        font-size: 30px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul {
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top:25px;
        left: 25px;
        cursor: pointer;
    }
    .subtitle{
        font-size: 40px;
        margin-bottom: 10px;
    }
    .about-col-1,.about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left,.contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size:  14px;
    }
}

#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}

/* ---------------------------------------------- */

